<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./index.css">

    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <style type="text/css">
      .slick-prev, .slick-next{
        display: none!important;
      }
    </style>
  </head>
  <body>
    <header class="header">
        <div class="container">
          <p class="text-black text-right mb-0">
              <i class="fas fa-phone-alt"></i>
              <span class="mx-3 border-right pr-3">0330 123 456</span>
              <%if (user) { %>
                <span><%= user.name %></span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logoutModal">
                  Logout
                </button>
                <% }  else { %>
                <i class="fas fa-shopping-cart"></i>
              <a href="/login" style="color: black;"><i class="fas fa-user-plus"></i></a>
              <% } %>
          </p>
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#"><img src="./img/365fury-Logo.png" style="width: 200px;"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#foodNavBar" aria-controls="foodNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="foodNavBar">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">TRANG CHỦ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">GIỚI THIỆU</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/product">SẢN PHẨM</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">KHUYẾN MÃI</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">LIÊN HỆ</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
  
        </div>
      </header>

      <div class="carousel">
        <div class="container">
          <div class="image-slider">
            <div class="image-slider">
              <img src="./img/bia1.jpg">
            </div>
            <div class="image-slider">
              <img src="./img/bia2.jpg">
            </div>
          </div>
        </div>
      </div>

      <customize>
        <div class="container">
            <div class="tutorial">
              <div class="element_wrap" id="heading-tutorial">
                <div class="text_edit">
                  <h2>HOW TO CUSTOMIZE YOURS</h2>
                </div>
              </div>
              <div class="element_wrap" id="title-tutorial">
                <div class="text_edit">
                  <p>
                    <i>~ Personalize Your Own Products 
                        - Show Off Your Pride And Love 
                        In A Unique Way~</i>
                    <br>
                   </p>
                </div>
              </div>
              <div>
              
              </div>
              <div class="step_wrap">
                <div class="step_wrap-1">
                  <div class="content_step">
                    <div id="img-step-1" class="img__step">
                    <img  src="./img/choose2.jpg" width="250" height="250">
                      
                    </div>
                    <div class="title_step" id ="title-step-1">
                      <div class="title_step_header"><b>1. Product types choosing</b></div>
                    </div>
                    <div class="description_step" id="description-step-1">
                    <p>
                        <i>
                          Choose the design and the product type you want to purchase
                          Remember to Choose the right size for you or ask 365fury Support Team if in doubt
                        </i>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="step_wrap-1">
                  <div class="content_step">
                    <div id="img-step-2" class="img_step">
                      <img  src="./img/choose1.jpg" width="250" height="250">
                      
                    </div>
                    <div class="title_step" id ="title-step-2">
                      <div class="title_step_header"><b>2. Pick your Furbuddies</b></div>
                    </div>
                    <div class="description_step" id="description-step-2">
                    <p><i>200+ Fur-babies are waiting to be added. Don't forget to put his/her name as well! You can see live preview of final product</i></p>
                    </div>
                  </div>
                </div>
                <div class="step_wrap-1">
                  <div class="content_step">
                    <div id="img-step-3" class="img__step">
                      <img  src="./img/choose3.jpg" width="250" height="250">
                    </div>
                    <div class="title_step" id ="title-step-3">
                      <div class="title_step_header"><b>3. Place your order</b></div>
                    </div>
                    <div class="description_step" id="description-step-3">
                    <p><i>Your design is now ready to print. Let's add to cart, process payments on the check-out section and wait for the final gifts to knock on your door! </i></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </customize>

      <gallery>
        <div class="container">
          <h2>HAPPY CUSTOMERS</h2>
          <div class="gallery-top">
            <div class="row">
              <div class="gallery">
                <a target="_blank" href="./img/happy1.png">
                  <img src="./img/happy1.png" alt="" width="600" height="400">
                </a>
              </div>
      
              <div class="gallery">
                <a target="_blank" href="./img/happy2.jpg">
                  <img src="./img/happy2.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="./img/happy3.png">
                  <img src="./img/happy3.png" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="./img/happy4.png">
                  <img src="./img/happy4.png" alt="" width="600" height="400">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="gallery">
                <a target="_blank" href="./img/happy5.png">
                  <img src="./img/happy5.png" alt="" width="600" height="400">
                </a>
              </div>
      
              <div class="gallery">
                <a target="_blank" href="./img/happy6.png">
                  <img src="./img/happy6.png" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="./img/happy7.jpg">
                  <img src="./img/happy7.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="./img/happy8.png">
                  <img src="./img/happy8.png" alt="" width="600" height="400">
                </a>
              </div>
            </div>          
          </div>       
        </div>
        
      </gallery>

      <email>
        <div class="container">
          <h2 class="title">Be The First To Know</h2>
        <div class="newsletter-text">
          <p>
            Receive updates, access to exclusive deals, and more...
          </p>
        </div>
        <div class="newsletter">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="email" placeholder="Enter your email address..." aria-label="email">
            <a href="/register" class="btn btn-outline-success my-2 my-sm-0" >SIGN UP</a>
          </form>
        </div>
        </div>
      </email>
      
      <footer class="footer">
        <div class="container">
          <div class="footer-row">
            <div class="col-3">
              <h6>HỖ TRỢ KHÁCH HÀNG</h6>
              <ul>
                <li><a href="#">Chính sách thẻ thành viên</a></li>
                <li><a href="#">Chính sách đổi trả hàng</a></li>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h6>DANH MỤC</h6>
              <ul>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Liên hệ</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h6>LIÊN HỆ</h6>
              <ul>
                <li><a href="#">0908080634</a></li>
                <li><a href="#">0902451215</a></li>
                <li><a href="#">duyenwww@gmail.com</a></li>
                <li><a href="#">030235190026@st.buh.edu.vn</a></li>
              </ul>
            </div>
            <div class="col-3">
              <h6>KẾT NỐI VỚI FOOD COOL</h6>
              <ul>
                <li><a href="#">
                  <i class="fab fa-facebook"></i>
                  Facebook</a></li>
                <li><a href="#">
                  <i class="fab fa-twitter"></i>
                  Twitter</a></li>
                <li><a href="#">
                  <i class="fab fa-google-plus-g"></i>
                  Google +</a></li>
              </ul>
            </div>
  
          </div> 
        </div>
  
      </footer>

      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to log out?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a href="/logout"><button type="button" class="btn btn-primary">Yes, log me out.</button></a>
            </div>
          </div>
        </div>
      </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.single-item').slick();
      });
    </script>



    <script src="./slider.js"></script>
  </body>
</html>